.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: $small-spacing;
}

.u-margin-medium {
  margin-bottom: $medium-spacing;
}

.u-margin-bottom-big {
  margin-bottom: $big-spacing;
}
